<h2>Anagram Checker</h2>
<form action="/anagram">
  <div class='form-group'>
    <label for="word">Enter a Word</label>
    <input type="text" name="word" class='form-control' id='word'>
    <label for="string">Enter list of word to see which are anagrams</label>
    <input type="text" name="string" class='form-control'>

  </div>
  <button type='submit' class="btn btn-success">Send</button>
</form>
